.article-form {
  position: relative;
  padding-top: toRem(1);

  @include media('desktop') {
    min-height: toRem(829);
    background-image: url('~images/pink-cloud-desktop.svg') no-repeat top left / 82.9% auto;
  }

  @include media('tablet') {
    min-height: toRem(585);
    background-image: url('~images/pink-cloud-tablet.svg') no-repeat bottom left / auto 100%;
    margin-top: toRem(38);
    order: 3;
  }

  @include media('mobile') {
    min-height: toRem(394);
    background-color: #dcbec4;
    margin-top: toRem(178);
    padding-bottom: toRem(50);
  }

  &__title {
    font-weight: 600;

    @include media('desktop') {
      font-size: toRem(26);
      line-height: 160%;
      margin-bottom: toRem(30);
    }

    @include media('tablet') {
      font-size: toRem(18);
      line-height: 160%;
      margin-bottom: toRem(30);
    }

    @include media('mobile') {
      font-size: toRem(14);
      line-height: 160%;
      margin-bottom: toRem(30);
    }
  }

  &__center {
    position: relative;

    @include media('desktop') {
      width: toRem(622);
      margin-right: auto;
      margin-top: toRem(255);
      margin-left: toRem(60);
    }
    @include media('desktop-small') {
      width: toRem(800);
    }

    @include media('tablet') {
      width: toRem(600);
      margin-right: auto;
      margin-top: toRem(193);
      margin-left: toRem(36);
    }

    @include media('mobile') {
      margin-top: toRem(158);
      width: 100%;
      padding-left: toRem(7);
      padding-right: toRem(7);
    }

    &:before {
      content: "";
      position: absolute;
      background: no-repeat center / contain;

      @include media('desktop') {
        background-image: url('~images/plane-desktop.png');
        width: toRem(473);
        height: toRem(202);
        top: toRem(-11);
        left: 130%;
        margin-left: toRem(27);
      }
      @include media('desktop-small') {
         left: 100%;
      }

      @include media('tablet') {
        background-image: url('~images/plane-desktop.png');
        width: toRem(316);
        height: toRem(135);
        left: 25%;
        bottom: 110%;
        margin-bottom: toRem(-7);
      }

      @include media('mobile') {
        background-image: url('~images/plane-mobile.png');
        width: toRem(274);
        height: toRem(117);
        bottom: 100%;
        left: 0;
        right: 0;
        margin: 0 auto toRem(28);
      }
    }
  }

  &__form {
    @include media('desktop') {
      display: flex;
      justify-content: space-between;
    }

    @include media('tablet') {
      display: flex;
      justify-content: space-between;
    }
  }

  &__label {
    position: relative;
    display: block;

    @include media('desktop') {
      width: toRem(396);
    }

    @include media('tablet') {
      width: toRem(208);
    }

    @include media('mobile') {
      width: 100%;
      margin-bottom: toRem(12);
    }
  }

  &__input {
    display: block;
    width: 100%;
    font-weight: 300;
    font-family: inherit;
    color: $color-white;
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #000000;

    &::placeholder {
      color: $color-white;
    }

    &--invalid {
      border-bottom-color: #FF0B0B;
    }

    @include media('desktop') {
      font-size: toRem(24);
      line-height: 160%;
      height: toRem(58);
    }

    @include media('tablet') {
      font-size: toRem(16);
      line-height: 160%;
      height: toRem(40);
    }

    @include media('mobile') {
      font-size: toRem(14);
      line-height: 160%;
      height: toRem(31);
    }
  }

  &__msg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #FF0B0B;

    display: none;

    @include media('desktop') {
      margin-top: toRem(5);
      font-size: toRem(14);
      line-height: 160%;
    }

    @include media('tablet') {
      margin-top: toRem(6);
      font-size: toRem(12);
      line-height: 160%;
    }

    @include media('mobile') {
      margin-top: toRem(6);
      font-size: toRem(11);
      line-height: 160%;
      max-width: toRem(160);
    }
  }

  &__input--invalid + &__msg {
    display: block;
  }

  &__btn {
    display: block;
    cursor: pointer;
    background: #2C4E8D;
    border: toRem(2) solid #2D4E8D;
    font-weight: 600;
    color: $color-white;
    font-family: inherit;
    border-radius: toRem(30);
    margin-left: auto;

    &--disabled {
      pointer-events: none;
      opacity: 0.6;
    }

    @include media('desktop') {
      font-size: toRem(22);
      line-height: 100%;
      width: toRem(206);
      height: toRem(58);
      padding-bottom: toRem(5);
    }

    @include media('tablet') {
      font-size: toRem(18);
      line-height: 100%;
      width: toRem(140);
      height: toRem(40);
      padding-bottom: toRem(3);
    }

    @include media('mobile') {
      font-size: toRem(14);
      line-height: 100%;
      width: toRem(112);
      height: toRem(31);
      padding-bottom: toRem(2);
    }
  }

  &__social {
    @include media('desktop') {
      display: none;
    }

    @include media('tablet') {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
    }

    @include media('mobile') {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      margin-bottom: toRem(28);
      display: flex;
      justify-content: center;
    }
  }

  &__social-link {
    display: block;
    text-decoration: none;
    height: toRem(32);
    width: toRem(32);
    background: no-repeat center / contain;

    & + & {
      margin-left: toRem(6);
    }

    &--wa {
      background-image: url('~images/social-wa.svg');
    }

    &--tw {
      background-image: url('~images/social-tw.svg');
    }

    &--tg {
      background-image: url('~images/social-tg.svg');
    }

    &--fb {
      background-image: url('~images/social-fb.svg');
    }

    &--vk {
      background-image: url('~images/social-vk.svg');
    }
  }

  &__nav {
    @include media('desktop') {
      display: none;
    }

    @include media('tablet') {
      display: none;
    }

    @include media('mobile') {
      display: block;
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      overflow: auto;
      margin-bottom: toRem(100);
      padding: toRem(10) 0;
    }
  }

  &__nav-in {
    display: flex;
    align-items: center;
  }

  &__nav-link {
    position: relative;
    z-index: 1;
    display: block;
    font-weight: 600;
    font-size: toRem(16);
    line-height: 160%;
    margin-left: toRem(12);
    margin-right: toRem(12);
    text-decoration: none;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    color: $color-white;
    color: var(--accent-text-color);

    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: toRem(-8);
      right: toRem(-8);
      height: 100%;
      border-radius: toRem(15);
      background-color: var(--accent-text-color);
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
    }

    &--active:not(.header__nav-link--icon) {
      color: var(--accent-background-color);
      transform: rotate(8deg);

      &:before {
        opacity: 1;
      }
    }
  }
}

.article-form__wide.article-form__new {
  padding: 0 10px;

  & .article-form__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;

    & span.blue {
        color: rgba(44, 78, 141, 1);
    }
  }

  & .article-new__container {
    display: flex;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    @include media('tablet-and-mobile') {
      flex-direction: column;
      margin-bottom: toRem(50);
    }

    & .article-new__block:first-child {
      padding-right: 71px;
      @include media ('tablet-and-mobile'){
        padding-right: 0;
        margin-bottom: toRem(15);
      }
    }
  }
}
