.intro-cover {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;

  background: $color-black no-repeat center / cover;

  @include media('desktop') {
    background-image: url('~images/placeholders/index/cover.jpg');
    //margin-bottom: toRem(120);
  }

  @include media('tablet') {
    background-image: url('~images/placeholders/index/cover-tablet.jpg');
    //margin-bottom: toRem(58);
  }

  @include media('mobile') {
    background-image: url('~images/placeholders/index/cover-mobile.jpg');
    //margin-bottom: toRem(26);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: toRem(50);
    padding-bottom: toRem(50);

    @include media('desktop') {
      min-height: toRem(783);
    }

    @include media('tablet') {
      min-height: toRem(680);
    }

    @include media('mobile') {
      min-height: toRem(568);
    }
  }

  &__title {
    font-weight: 800;
    line-height: 120%;
    color: $color-white;
    margin: auto;

    @include media('desktop') {
      font-size: toRem(80);
      padding-bottom: toRem(30);
    }

    @include media('tablet') {
      font-size: toRem(64);
      padding-bottom: toRem(17);
    }

    @include media('mobile') {
      font-size: toRem(28);
      padding-bottom: toRem(15);
    }
  }

  &__heart {
    position: absolute;
    display: block;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include media('desktop') {
      height: toRem(465);
    }

    @include media('tablet') {
      height: toRem(367);
    }

    @include media('mobile') {
      height: toRem(214);
    }
  }
}
