.footerC.footerAr
  .ContainerC.max-1280
    .footerC__container
      .footerC__decr
        .footerC__subtitle
          Բացահայտեք ձեզ համար Ֆրանսիայի տարբեր անկյունները այս ամռանն ու աշնանը։
          %a{href: "https://wwws.airfrance.am/deals?originCode=EVN&originType=CITY&tripType=ALL&cabin=ECONOMY", target: "_blank"} Air France
          ավիաընկերությունը արագ կհասցնի ձեզ այնտեղ:
        .footerC__text
          Բաժանորդագրվեք 🇦🇲 մեր տեղեկագրին
          %a{href: "https://wwws.airfrance.am/subscription/subscribe", target: "_blank"} այստեղ
          և ստուգեք մեր լավագույն առաջարկներն
          %a{href: "https://wwws.airfrance.am/deals?originCode=EVN&originType=CITY&tripType=ALL&cabin=ECONOMY", target: "_blank"} այստեղ:
      .footerC__image
        %img{alt: "", src: asset_pack_url("media/images/plane-desktop.png")}/