%footer.footer
  .container.footer__container
    .footer__logos
      %a.footer__logos-link.footer__logos-link--explore-france{href: "https://ru.france.fr/ru?utm_source=france-advisor.com&utm_medium=link", target: "_blank"}
        %img.footer__logos-img{alt: "", src: asset_pack_url("media/images/logo-explore-france.svg")}/
      .footer__logos-link.footer__logos-link--airfrance{href: "https://www.airfrance.ru/", target: "_blank"}
        %img.footer__logos-link.footer__logos-img{alt: "", src: asset_pack_url("media/images/logo-air-france.png")}/
    .footer__prt
      .footer__prt-text
        %a.footer__prt-link{href: cookies_url, target: "_blank"} We use cookies
      .footer__prt-text
        Made in Perito
