%footer.footer
  .container.footer__container
    .footer__logos
      %a.footer__logos-link.footer__logos-link--explore{href: "https://www.france.fr/en", target: "_blank"}
        %img.footer__logos-img{alt: "", loading: "lazy", src: asset_pack_url("media/images/logo-explore-france.png")}/
      %a.footer__logos-link.footer__logos-link--airfrance{href: "https://www.airfrance.ge", target: "_blank"}
        %img.footer__logos-img{alt: "", loading: "lazy", src: asset_pack_url("media/images/logo-air-france.png")}/
      %a.footer__logos-link.footer__logos-link--smaritaine{href: "https://www.dfs.com/en/samaritaine", target: "_blank"}
        %img.footer__logos-img{alt: "", loading: "lazy", src: asset_pack_url("media/images/samaritaine-logo.png")}/
      %a.footer__logos-link.footer__logos-link--paris{href: "https://www.paris-hotel-mayfair.com/en/", target: "_blank"}
        %img.footer__logos-img{alt: "", loading: "lazy", src: asset_pack_url("media/images/Paris-logo.png")}/
    .footer__prt
      .footer__prt-text
        %a.footer__prt-link{href: cookies_url, target: "_blank"} We use cookies
      .footer__prt-text
        Made in Perito