- content_for(:style) do
  :css
    body {
      --accent-background-color: var(--color-red);
      --accent-text-color: #ffffff;
      --accent-special-color: var(--color-red);
      --font-georgian: 'Noto Sans Georgian', sans-sarif;
      --font-georgian-serif: 'Noto Serif Georgian', sans-sarif;
      --font-armanian: 'Noto Sans Armenian', sans-sarif;
      --menu-burger-background: #943836;
    }


%body{style: "background-color: var(--accent-background-color);"}
  .site-container
    .header--new
      %header.header
        .container.header__container
          %button.header__nav-toggle
            %span.header__nav-toggle-line
          %nav.header__nav
            .header__nav-in
              %a.header__nav-link{href: occitania_ar_url} OCCITANIA
              %a.header__nav-link{href: new_aquitaine_ar_url} NEW AQUITAINE
              %a.header__nav-link{href: paris_region_ar_url} PARIS REGION
              %a.header__nav-link.header__nav-link--active{href: loirevalley_ar_url} LOIRE VALLEY
              %a.header__nav-link.header__nav-link--home.header__nav-link--icon{href: root_url}
                MAIN PAGE
                %span.header__nav-link-icon
    .container-secondary.container-loirevalley.loirevalley-ar.lang-ar
      .ContainerC.max-1140.one
        .blockC.main.loirevalley--main.main-ar
          .blockC__texts
            .titleC.main
              %h1
                %span The Loire Valley
            .subtitleC.main
              %span
                Լուարայի լեռնահովիտ:
            .subtitleC.premain
              Ֆրանսիայի սիրտը, գեղեցիկ ամրոցներ և աղային ավազաններ
          %img.image-main{alt: "", src: asset_pack_url("media/images/LoireValley/image-565-1.png")}/
      .ContainerC.max-1140.two
        .descC.withoutFon.descC-1
          .textC.columnW
            .colC
              %p
                Լուարայի հովիտը միավորում է երկու տարածաշրջան՝ Լուարայի երկիր (Pays de la Loire) և Կենտրոն՝ Լուարայի հովիտ:
                Այս միավորված տարածաշրջանն իրավամբ կարելի է անվանել Ֆրանսիայի սիրտը, նրանում միավորվել է ողջ ֆրանսիական
                ռոմանտիկան՝ բնությունը, մեղմ կլիման, հիանալի գինիները, մշակույթի և պատմության հուշարձանները:
              %p
                Լուարայի հովիտը գտնվում է Ֆրանսիայի արևմտյան մասում՝ համանուն գետի երկայնքով, որը ներհոսում է Ատլանտյան
                օվկիանոս։ Այն հայտնի է միջնադարյան ամրոցներով ու աբբայություններով, խոհանոցային և գինեգործական
                ավանդույթներով, ինչպես նաև յուրահատուկ աղի արդյունահանումներով։
            .colC
              %p
                Բնատեսարանները փոխվում են արևելքում Օվերնի բլուրներից մինչև օվկիանոսի ափին հարթավայրերը:
              %p
                Լուարայի հովիտը հին ժամանակներից համարվում էր Ֆրանսիայի թագավորների և արիստոկրատների սիրված վայր։ Այստեղ են
                ծնվել բազմաթիվ հայտնի մարդիկ։
                Տարածաշրջանում գտնվում են հարյուրից ավելի հոյակապ դղյակներ:
      .ContainerC.max-1140.three
        .descC.whiteFon.withImg.descC-1
          .ContainerC.padding-60
            %img.image-map{alt: "", src: asset_pack_url("media/images/icons/icon-map.png")}/
            .subtitleC.secondary.max-650.subtitleC-1
              Տրանսպորտ
            .textC.columnW.textC-1
              .ColC
                %p
                  Տարածաշրջանի գլխավոր օդանավակայանը՝ «Նանտ Ատլանտիկ»-ը (Nantes Atlantique) գտնվում է շրջանի մայրաքաղաք Նանտից 12կմ հեռավորության վրա։
                  %a{href: "https://wwws.airfrance.am/", target: "_blank"} Air France
                  ավիաընկերության ինքնաթիռներն ամեն օր չվերթներ են կատարում Փարիզից դեպի Նանտ և հակառակ ուղղությամբ։ Տոմսի արժեքը՝ սկսած 50 եվրոյից։
                %p
                  Հիմնական երկաթուղային և ճանապարհային հանգույցները գտնվում են Օռլեանում և Տուրում: Փարիզից Օռլեան մեքենայով
                  կարելի է հասնել մեկուկես ժամում (քաղաքների միջև հեռավորությունը 120 կմ է), իսկ Տուր, որը գտնվում է երկու
                  անգամ ավելի հեռու՝ երկուսուկես ժամում:
              .ColC
                %p
                  Փարիզից Օռլեան գնացքը գնում է մոտ մեկ ժամ, տոմսի արժեքը սկսվում է 10 եվրոյից։ Գնացքով դեպի Տուր
                  ուղևորությունը կտևի մեկուկես ժամ, տոմսը, եթե նախապես վերցնեք, կարժենա 15 եվրոյից:
            .subtitleC.secondary.max-975.subtitleC-2
              Ո՞ր քաղաքներում է առավելապես հարմար ապրել
            .textC.columnW.textC-2
              .colC
                %p
                  %strong> Նանտը (Nantes)
                   — տարածաշրջանի խոշորագույն քաղաքներից է և գրող Ժյուլ Վեռնի ծննդավայրը։ Այն
                  հայտնի է իր հարուստ մշակութային կյանքով և ուշագրավ ճարտարապետությամբ։
                %p
                  %strong Անժեն (Angers)
                  քաղաք է Նանտից դեպի արևելք, դրա շրջակայքում կան մի քանի հայտնի ամրոցներ․
                  յոթհարկանի Բրիսսակը՝ ամենաբարձրը Ֆրանսիայում, և Պլեսի-Բուրե դղյակը, որտեղ նկարահանվել են պատմական ֆիլմեր,
                  օրինակ՝ Լյուկ Բեսոնի «Ֆանֆան-վարդակակաչը»։ Քաղաքում է գտնվում Անժեի ամրոցը, որտեղ պահվում են Ապոկալիպսիսի
                  տեսարաններով գոբելեններ։
                %p
                  Ծախսերը խնայելու համար կարող եք գնել City Pass Angers-Val de Loire տուրիստական տոմս (արժեքը երեք օրվա
                  համար 31 եվրո է), որը նաև տրանսպորտի զեղջ է ապահովում։
              .colC
                %p
                  %strong Օռլեանը (Orléans)
                  անքակտելիորեն կապված է Ժաննա դ’Արկի հետ, ում զորքերն են ազատագրել
                  Օռլեանը Հարյուրամյա պատերազմի ժամանակ: Այստեղ ամեն ինչ նվիրված է Օռլեանի կույսին. հուշարձաններից և
                  տաճարներից մինչև մայիսի առաջին շաբաթը տեղի ունեցող լայնածավալ փառատոնը:
                %p
                  %strong Շրջագայություն (Tour):
                  Տարածաշրջանի մայրաքաղաքն է Տուրենը, որն անվանում են «Ֆրանսիայի
                  պարտեզ»։ Ամենահայտնի ամրոցներն այս տարածաշրջանում․ Ամբուազը, Շենոնսոն, Վիլանդրին և այլն, գտնվում են Տուրի
                  շրջակայքում, ուստի այստեղից է առավելապես հարմար սկսել ճանապարհորդությունը:
      .ContainerC.four
        .imageC.big
          %img.image-desk{alt: "", src: asset_pack_url("media/images/LoireValley/image-1484-1.jpg")}/
          %img.image-mobile{alt: "", src: asset_pack_url("media/images/LoireValley/image-big-2-mobile.jpg")}/
      .ContainerC.max-1140.five
        .descC.whiteFon.descC-1
          .ContainerC.padding-60
            .subtitleC.secondary.max-650.subtitleC-1
              Երթուղիների տարբերակներ
            .textC.rowW.textC-1
              %p
                %strong Երկար երթուղի՝
                Nantes → La Roche-sur-Yon → Cholet → Angers → Loire-Anjou →Touraine Reserve
                → Villandry → Amboise → Blois → Chambord → Orleans
              %p
                %strong Կարճ երթուղի՝
                Nantes → Angers → Saumur → Loire-Anjou-Touraine Reserve → Amboise
            .subtitleC.secondary.max-975.subtitleC-2
              Զբաղմունքներ
            .textC.rowW.textC-2
              %p
                %strong Հեծանվավազք Լուարայի երկայնքով (La Loire a Vélo)
              %p
                Հեծանվային երթուղու երկարությունը 900 կմ է, որը գրեթե հավասար է հենց Լուարա գետի երկարությանը։ Դուք կարող եք
                սկսել ճամփորդությունը ցանկացած կետում և գնալ կամ դեպի օվկիանոս, կամ էլ՝ հակառակ ուղղությամբ: Բացի այդ
                երթուղու վրա մշտապես հանդիպում են արշավային արահետներ և ճանապարհներ դեպի բնական տեսարժան վայրեր: Սա հիանալի
                միջոց է տարածաշրջանը ճանաչելու և ամեն ինչ անսովոր հեծանվային տեսանկյունից տեսնելու:
              %p
                %strong Տեսնել տեղական ամրոցներն ու աբբայությունները
              %p
                Ֆրանսիական թագավորները միշտ գնահատել են Լուարայի հովիտը: Տարածաշրջանում պահպանվել են հարյուրից ավելի
                ամրոցներ, որոնցից շատերը թագավորական նստավայրեր են եղել և այժմ բաց են զբոսաշրջիկների համար: Անպայման այցելեք
                Շամբոր դղյակը, որի ստեղծմանն անձամբ մասնակից է եղել Լեոնարդո դա Վինչին։ Շամբորից 50 կմ հեռավորության վրա
                գտնվող Կլո-Լյուսեում Լեոնարդոն ապրել է երեք տարի, և այժմ այնտեղ գտնվում է նրա թանգարանը։ Դա Վինչիի գերեզմանը
                գտնվում է այստեղից ոչ հեռու Ամբուազ ամրոցում։ Շենոնսո դղյակը Վերածննդի դարաշրջանի ճարտարապետության հոյակապ
                օրինակ է, իսկ Շատո Վիլանդրին շրջապատված է շլացուցիչ այգիներով՝ տպավորիչ է հատկապես կանաչ լաբիրինթոսը: Բացի
                Նանտի, Անժեի և Սոմյուրի մոտ գտնվող վերոնշյալ դղյակներից այցելեք Սեն-Ժորժ-սյուր-Լուարի մոտ գտնվող Սերրան
                ամրոցը (Վերածննդի դարաշրջանի ճարտարապետության հիանալի օրինակ), Լուարի ափին գտնվող միջնադարյան դ'Անսենի
                դղյակը, Շատո դը Գոլենը, որտեղ արտադրվում է համանուն գինին և Տիֆոժը, որտեղ Կապույտ մորուքը՝ բարոն Ժիլ դե Ռեն,
                կատարում էր իր չար գործերը:
              %p
                %strong
                  Այցելել Գերանդի աղի ճահիճները
              %p
                Ծովային ջուրն այստեղ բնականորեն գոլորշիացվում է հատուկ ջրավազաններում՝ ջերմության, քամու և արևի ազդեցության
                տակ, իսկ հետո աղը ձեռքով հավաքում են։ «Աղ հավաքողի» մասնագիտությունը ժառանգական է և նույնիսկ ունի հատուկ
                անուն՝ paludier։ «Աղ Գերանդից» և «Գերանդի Աղե ծաղիկ» պիտակները երաշխավորում են արտադրանքի բարձր որակը:
                Անպայման փորձեք այն ինքներդ:
      .ContainerC.six
        .imageC.big
          %img.image-desk{alt: "", src: asset_pack_url("media/images/LoireValley/image-1650-1.jpg")}/
          %img.image-mobile{alt: "", src: asset_pack_url("media/images/LoireValley/image-big-1-mobile.jpg")}/
      .ContainerC.max-1140.seven
        .descC.whiteFon.descC-1
          .ContainerC.padding-60.ContainerC-1
            .textC.rowW.textC-1
              %p
                %strong Օռլեանի ճարտարապետությունը և ժամանակակից արվեստը
              %p
                Եթե հետաքրքրվում եք ժամանակակից արվեստով, ապա գնացեք FRAC կենտրոն։ Տպավորիչ է ինչպես Կենտրոնի շենքն ինքնին,
                այնպես էլ՝ նրանում գործող թանգարանը, որտեղ ցուցադրվում են հազարավոր արվեստի գործեր, ճարտարապետական գծագրեր
                ու մոդելներ։ Վերածննդի դարաշրջանի ճարտարապետության վառ օրինակ է Օտել Գրոսլոն (Hôtel Groslot)՝ Օռլեանի
                ամենագեղեցիկ շենքերից մեկը: Մոտ երկու դար այս շենքում քաղաքապետարանն է եղել, իսկ այժմ՝ շաբաթ օրերին այստեղ
                ամուսնության արարողություններ են անցկացվում։ Այդ օրերին շենքը փակ է հանրության համար։
              %p
                %strong
                  Բովալի կենդանաբանական Այգի (ZooParc de Beauval)
              %p
                Ֆրանսիայի ամենամեծ կենդանաբանական այգին գտնվում է Սեն-Էնյան քաղաքի մոտ։ Մոտ 30 հեկտար տարածության վրա
                բնակվում են 35000 կենդանիներ և թռչուններ, այդ թվում՝ անհետացող տեսակներ․ Բովալում զբաղվում են դրանց
                պահպանմամբ: Այստեղ կարելի է տեսնել սպիտակ վագրեր և լամանտիններ, կոալաներ և Գուդֆելոուի ծառի կենգուրուներ,
                ինչպես նաև ձկներ Ավստրալիայի մոտ գտնվող Մեծ արգելախութից: Կենդանաբանական այգին բաժանված է տարբեր թեմատիկ
                տարածքների․ Սավաննա, Արևադարձային գոտի, Ավստրալիայի անապատ, Լամանտինների լողավազան և Մեծ Կատուների համալիր:
                Բովալը բաց է ամբողջ տարի, մուտքի տոմսի արժեքը 25 եվրո է 3-10 տարեկան երեխաների համար և 32 եվրո՝ մնացած
                բոլորի համար, մինչև 3 տարեկան երեխաների համար՝ մուտքն անվճար է:
          .ContainerC.padding-60.ContainerC-2
            .subtitleC.secondary.max-860.subtitleC-1
              Տարածաշրջանի այլ տեսարժան վայրեր
            .textC.columnW.textC-1
              .colC
                %p
                  %strong
                    Պյուի դյու Ֆու պատմական զբոսայգին
                %p
                  Ֆրանսիայի երկրորդ ամենահայտնի զվարճանքների զբոսայգին է Դիսնեյլենդից հետո։ Այն հայտնի է իր լայնածավալ պատմական շոուներով, ավանդական արհեստանոցներով, գեղատեսիլ բնական այգիով և տարբեր դարաշրջաններին նվիրված թեմատիկ հյուրանոցներով: Ամեն տարի Շոլե քաղաքի մոտ Լեզ Եպեսս գուղում գտնվող Վերածննդի դարաշրջանի ամրոցի ավերակների վրա տեղակայված այս զբոսայգին ընդունում է մոտ երկու միլիոն այցելու։
                %p
                  %strong Արևելյան Այգին Մոլեվրիեում (Parc Oriental de Maulévrier)
                  Եվրոպայի ամենամեծ ճապոնական այգին է, որն աչքի է ընկնում նաև իր արտասովոր ճարտարապետությամբ և մթնոլորտով: Մայիսից մինչև սեպտեմբեր այստեղ անցկացվում են երաժշտական և պոեզիայի միջոցառումներ։
              .colC
                %p
                  %strong «Նանտ կղզու մեքենաները» հսկա
                  մեխանիկական քանդակների զարմանալի ցուցահանդես է Նանտի նավաշինարանում: Տեղական ցուցանմուշները հիշեցնում են Ժյուլ Վեռնի ֆանտազիաները և Լեոնարդո դա Վինչիի մեխանիզմները։ Հատկապես տպավորիչ են «Գոլորշե տունը» (Steam House)` 12-մետրանոց փիղը, որի վրա կարող է նստել ցանկացած մարդ, և «Ծովային աշխարհների կարուսելը», որը կարող է տեղավորել մինչև 300 մարդ։
            .subtitleC.secondary.max-860.subtitleC-2
              Սնունդ և գինի
            .textC.columnW.textC-2
              .colC
                %p
                  Տարածաշրջանի խոհանոցը կախված է գավառից. ծովամթերքը տարածված է Ատլանտյան օվկիանոսի ափին, Անժեում պետք է փորձել ավանդական մսային ուտեստներ հորթի և խոզի մսից, իսկ Նանտում պատրաստում են հիանալի աղցաններ: Քաղցրավենիքի սիրահարները պարտավոր են գնել «Նանտյան տորթը» (Gâteau nantais). Տարածաշրջանի պանիրներից առավել հայտնի է Valançay տեսակը՝ այծի կաթից կապույտ պանիրը, Crottin de Chavignol գնդիկները, ինչպես նաև փափուկ Cure Nantais պանիրը:
              .colC
                %p
                  Լուարայի հովիտը հայտնի է
                  = succeed "," do
                    %a{href: "https://wineclass.club/sauvignon_blanc.html", target: "_blank"} սովինյոն բլան
            .subtitleC.secondary.max-860.subtitleC-3
              Ստուգման ցուցակ
          .ContainerC.padding-30.ContainerC-3
            .blockC.features
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-castle.svg")}/
                %p
                  Զգալ իբրև միջնադարյան ֆեոդալ կամ թագավոր՝ այցելելով տարածաշրջանի մի քանի ամրոցներ:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-bike.svg")}/
                %p
                  Մոլորվել Վիլանդրիի այգիներում
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-photo.svg")}/
                %p
                  Հեծնել հսկա մեխանիկական հրեշին Նանտում:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-sunset.svg")}/
                %p
                  Զբոսնել Բիսկայան ծոցի ավազե ափերով:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-send.svg")}/
                %p
                  Գերանդից տանել «աղե ծաղիկը»՝ այսպես են ֆրանսիացիները անվանում տեղական աղը:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-flower.svg")}/
                %p
                  Մոլորվել Վիլանդրիի այգիներում
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-orange.svg")}/
                %p
                  Ընկղմվել նարնջի բույրերի մեջ Կուանտրո լիկյորի գործարանում և այցելել այնտեղ գտնվող այս հայտնի խմիչքի կեղծիքների թանգարանը:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-cook.svg")}/
                %p
                  Ընկղմվել նարնջի բույրերի մեջ Կուանտրո լիկյորի գործարանում և այցելել այնտեղ գտնվող այս հայտնի խմիչքի կեղծիքների թանգարանը:
    = render partial: 'shared/footerAr'
    = render partial: 'shared/footer_main_ar'              
      