- content_for(:style) do
  :css
    body {
      --accent-background-color: var(--color-red);
      --accent-text-color: #ffffff;
      --accent-special-color: var(--color-red);
      --font-georgian: 'Noto Sans Georgian', sans-sarif;
      --font-georgian-serif: 'Noto Serif Georgian', sans-sarif;
      --font-armanian: 'Noto Sans Armenian', sans-sarif;
      --menu-burger-background: #943836;
    }
%body{style: "background-color: var(--accent-background-color);"}
  .site-container
    .header--new
      %header.header
        .container.header__container
          %button.header__nav-toggle
            %span.header__nav-toggle-line
          %nav.header__nav
            .header__nav-in
              %a.header__nav-link{href: occitania_ge_url} OCCITANIA
              %a.header__nav-link{href: new_aquitaine_ge_url} NEW AQUITAINE
              %a.header__nav-link{href: paris_region_ge_url} PARIS REGION
              %a.header__nav-link.header__nav-link--active{href: loirevalley_ge_url} LOIRE VALLEY
              %a.header__nav-link.header__nav-link--home.header__nav-link--icon{href: root_url}
                MAIN PAGE
                %span.header__nav-link-icon
    .container-secondary.container-loirevalley.loirevalley-ge.lang-ge
      .ContainerC.max-1140.one
        .blockC.main.loirevalley--main.main-ge
          .blockC__texts
            .titleC.main
              %h1
                %span The Loire Valley
            .subtitleC.main
              %span
                ლუარის ველი
            .subtitleC.premain
              საფრანგეთის გული ულამაზესი ციხე-სიმაგრეებით.
          %img.image-main{alt: "", src: asset_pack_url("media/images/LoireValley/image-565-1.png")}/
      .ContainerC.max-1140.two
        .descC.withoutFon.descC-1
          .textC.columnW
            .colC
              %p
                ლუარის ველი, ერთი დიდი მდინარით დაკავშირებული ორი რეგიონია: ლუარის მიწა (Pays de la Loire) და ცენტრი, ლუარის
                ველი.ამ გაერთიანებულ რეგიონს თამამად შეიძლება ეწოდოს საფრანგეთის გული. მასში თავმოყრილია საფრანგეთის მთელი
                ხიბლი: ულამაზესი ბუნება, ზომიერი კლიმატი, დახვეწილი ღვინოები, კულტურული და ისტორიულ ძეგლები.
              %p
                ლუარის ველი მდებარეობს საფრანგეთის დასავლეთ ნაწილში, ამავე სახელწოდების მდინარის გასწვრივ, რომელიც ჩაედინება
                ატლანტის ოკეანეში. რეგიონი
            .colC
              %p
                განთქმულია ზღვისპირა კურორტებით, შუა საუკუნეების ციხე-სიმაგრეებით, სააბატოებით, გასტრონომიით და ღვინის
                წარმოებით. ლანდშაფტი იცვლება აღმოსავლეთით ოვერნის ბორცვებიდან ოკეანის დაბლობებამდე. ლუარის ველი- ცნობილია
                როგორც ფრანგი მეფეებისა და არისტოკრატების საყვარელი ადგილი სადაც ბევრი ცნობილი ადამიანი დაიბადა. რეგიონს არ
                აქვს ზღვაზე გასასვლელი, მაგრამ აქვს ასზე მეტი შესანიშნავი ციხესიმაგრე.
      .ContainerC.max-1140.three
        .descC.whiteFon.withImg.descC-1
          .ContainerC.padding-60
            %img.image-map{alt: "", src: asset_pack_url("media/images/icons/icon-map.png")}/
            .subtitleC.secondary.max-650.subtitleC-1
              ტრანსპორტი
            .textC.columnW.textC-1
              .ColC
                %p
                  რეგიონის მთავარი აეროპორტი -(Nantes Atlantique), რეგიონის დედაქალაქი ნანტიდან 12 კილომეტრში მდებარეობს.
                  ავიაკომპანია
                  %strong
                    %a{href: "https://www.airfrance.ge/", target: "_blank"} Air France-ის
                  მიერ პარიზიდან ნანტის მიმართულებით და უკან, დღეში ოთხი რეისი სრულდება.
                  ბილეთების ღირებულება 50 ევროდან იწყება.
                %p
                  იგივე სახელწოდებას ატარებს ქალაქის მთავარი საფეხბურთო კლუბი, მაგრამ ხშირად მას უბრალოდ «ნანტ“-ს უწოდებენ.
              .ColC
                %p
                  მთავარი სარკინიგზო და საგზაო კვანძები ორლეანში და ტურშია. პარიზიდან ორლეანამდე მანქანით ჩასვლა შესაძლებელია
                  საათნახევარში (მათ შორის მანძილი 120 კმ-ია), ხოლო ტურიმდე, რომელიც ორჯერ უფრო შორ მანძილზე მდებარეობს — ორ
                  საათნახევარში. მატარებელით მგზავრობას პარიზიდან ორლეანამდე დაახლოებით ერთი საათი სჭირდება და ბილეთის
                  ღირებულება 10 ევროდან იწყება. მგზავრობას მატარებლით ტურიმდე საათნახევარი სჭირდება და ბილეთის ღირებულება
                  წინასწარ შეძენის შემთხვევაში 15 ევროდან იწყება.
            .subtitleC.secondary.max-975.subtitleC-2
              რომელი ქალაქებია საცხოვრებლად ყველაზე კომფორტული.
            .textC.columnW.textC-2
              .colC
                %p
                  %strong ნანტი -
                  რეგიონის ერთ-ერთი უდიდესი ქალაქი და მწერალ ჟიულ ვერნის სამშობლოა. ცნობილია თავისი
                  მდიდარი კულტურული ცხოვრებითა და შესანიშნავი არქიტექტურით.
                %p
                  %strong ანჟე -
                  ქალაქი ნანტის აღმოსავლეთით, სადაც რამდენიმე ცნობილი ციხესიმაგრეა: შვიდსართულიანი
                  Brissac -ყველაზე მაღალი საფრანგეთში და Plessis-Bouret, სადაც გადაღებულია ისტორიული ფილმები, როგორიცაა ლუკ
                  ბესონის «Fanfon Tulip”-ის რიმეიქი. თავად ქალაქში არის ანჯერის ციხე, სადაც განთავსებულია გობელენები, რომლებიც
                  აპოკალიფსის სცენებს ასახავს. ღირშესანიშნაობების დათვალიერება ანჟერში-ში და მის გარშემო მომგებიანია ტურისტული
                  ბილეთის City Pass Angers — Val de Loire-შეძენით (სამი ღამის ბილეთი 31 ევრო), რომელიც ასევე გაძლევთ
                  ფასდაკლებებს სამგზავრო ბილეთებზე.
              .colC
                %p
                  %strong ორლეანი -
                  ქალაქი, რომელიც დაკავშირებულია ჟანა დ არკთან. სწორედ მისმა ჯარებმა გაათავისუფლეს
                  ორლეანი ასწლიანი ომის დროს. აქ ყველაფერი ორლეანელ ქალწულს ეძღვნება: ძეგლები, საკათედრო ტაძრები და
                  ფართომაშტაბიანი ფესტივალები რომელიც მაისის პირველ კვირაში იმართება.
                %p
                  %strong ტური-
                  ტურენის რეგიონის დედაქალაქი, რომელსაც «საფრანგეთის ბაღს» უწოდებენ. რეგიონის ყველაზე
                  ცნობილი შატოები — Amboise, Chenonceau, Villandry და სხვები განლაგებულია ტურის გარშემო, ამიტომ ეს კარგი
                  ადგილია მოგზაურობის დასაწყებად. Loire-Anjou-Touraine-ის ნაკრძალი ქალაქიდან სულ რაღაც ერთი საათის მანძილზე
                  მდებარეობს სადაც 200 სახეობის ფრინველი ბინადრობს, მათ შორის იშვიათი ჯიშისაც. პარკში გადის ველო მარშრუტი
                  Loire à Velo -, რომელიც ატლანტის ოკეანესთან მიგიყვანთ.
      .ContainerC.four
        .imageC.big
          %img.image-desk{alt: "", src: asset_pack_url("media/images/LoireValley/image-1484-1.jpg")}/
          %img.image-mobile{alt: "", src: asset_pack_url("media/images/LoireValley/image-big-2-mobile.jpg")}/
      .ContainerC.max-1140.five
        .descC.whiteFon.descC-1
          .ContainerC.padding-60
            .subtitleC.secondary.max-650.subtitleC-1
              მარშრუტის იდეები:
            .textC.rowW.textC-1
              %p
                %strong გრძელი მარშრუტი:
                Nantes → La Roche-sur-Yon → Cholet → Angers → Loire-Anjou →Touraine Reserve → Villandry → Amboise — Blois → Chambord → Orleans.
              %p
                %strong მოკლე მარშრუტი:
                Nantes → Angers → Saumur → Loire-Anjou-Touraine Reserve → Amboise.
            .subtitleC.secondary.max-975.subtitleC-2
              Საქმიანობის
            .textC.rowW.textC-2
              %p
                %strong ველოსიპედით ლუარის გასწვრივ (La Loire a Velo).
                ველოსიპედის მარშრუტი 900 კმ სიგრძისაა, თითქმის ისევე, როგორც თავად ლუარის სიგრძე. შეგიძლიათ დაიწყოთ ნებისმიერ წერტილში და გაისეირნოთ ოკეანისკენ ან შორს. გზაზე ასევე არის მრავალი საფეხმავლო ბილიკი და უგზოობის ღირსშესანიშნაობები. ეს შესანიშნავი გზაა რეგიონის გასაცნობად და საგნების უჩვეულო ველოსიპედის კუთხით დასანახად.
              %p
                %strong იხილეთ ადგილობრივი ციხე-სიმაგრეები და სააბატოები
              %p
                ფრანგი მეფეები ყოველთვის აფასებდნენ ლუარის ხეობას. რეგიონს აქვს ასი ციხე, რომელთაგან ბევრი სამეფო რეზიდენცია იყო და ახლა ღიაა ტურისტებისთვის. არ გამოტოვოთ ვიზიტი Chambord-ში, რომლის მშენებლობაში თავად ლეონარდო და ვინჩიმ ხელი შეუწყო. Clos Lucé, შამბორდან 50 კილომეტრში, არის ადგილი, სადაც ლეონარდომ სამი წელი გაატარა და სადაც დღეს მისი მუზეუმია განთავსებული. და ვინჩის საფლავი მდებარეობს შატო დ’ამბუაზის მახლობლად.
              %p
                %strong Château de Chenonceau
                არის რენესანსის არქიტექტურის შესანიშნავი ნიმუში და განსაცვიფრებელი ბაღები, რომლებიც ირგვლივ Château Villandry-ს ირგვლივ, განსაკუთრებით შთამბეჭდავია — განსაკუთრებით მწვანე ლაბირინთი.
              %p
                ნანტში, ანჟესა და საუმურში ზემოაღნიშნული შატოების გარდა, გადახედეთ სერანის ციხეს
                %strong სენ-ჟორჟ-სურ-ლუარის
                მახლობლად (რენესანსის არქიტექტურის შესანიშნავი ნიმუში), შუა საუკუნეების შატო დ'ანცენისი ლუარის ნაპირზე. შატო დე გოლენი, სადაც იწარმოება სახელობის ღვინო, და ტიფოჯი, სადაც ლურჯწვერამ, ბარონ ჟილ დე რემ ჩაიდინა თავისი ბოროტი საქმეები.
              %p
                %strong გერანდეში მარილიანი ჭაობების მოსანახულებლად.
              %p
                აქ ზღვის მარილი ბუნებრივად აორთქლდება სპეციალურ აუზებში სითბოს, ქარისა და მზის ზემოქმედებით და შემდეგ ხელით იღება. «მარილის მკრეფის» პროფესია მემკვიდრეობითია და მას სპეციალური ტერმინითაც კი მოიხსენიებენ paludier, პალუს «ჭაობიდან». ეტიკეტები «Gerande Salt» და «Gerande Salt Flower» გარანტირებულია პროდუქტის ხარისხზე. აუცილებლად სცადეთ ეს თქვენთვის.
      .ContainerC.six
        .imageC.big
          %img.image-desk{alt: "", src: asset_pack_url("media/images/LoireValley/image-1650-1.jpg")}/
          %img.image-mobile{alt: "", src: asset_pack_url("media/images/LoireValley/image-big-1-mobile.jpg")}/
      .ContainerC.max-1140.seven
        .descC.whiteFon.descC-1
          .ContainerC.padding-60.ContainerC-1
            .textC.rowW.textC-1
              %p
                %strong წვიეთ ZooParc de Beauval-ს
              %p
                ყველაზე დიდი ზოოლოგიური ბაღი საფრანგეთში მდებარეობს ქალაქ სენ-ჰენიენის მახლობლად. თითქმის 30 ჰექტარზე 35000 ცხოველი და ფრინველი ცხოვრობს, მათ შორის გადაშენების პირას მყოფი სახეობები — ბოვალი ეძღვნება მათ კონსერვაციას. შეგიძლიათ შეამჩნიოთ თეთრი ვეფხვები და მანატები, კოალაები და გუდფელოუს ხე კენგურუ, ასევე თევზი ავსტრალიის დიდი ბარიერული რიფიდან. ზოოპარკი დაყოფილია სხვადასხვა თემებად: სავანა, ტროპიკული, ავსტრალიის უდაბნო, მანატის აუზი და დიდი კატების კომპლექსი. Boval ღიაა მთელი წლის განმავლობაში და შესასვლელი ღირს 25 ევრო 3-10 წლის ბავშვებისთვის და 32 ევრო ყველა დანარჩენისთვის; 3 წლამდე ბავშვები უფასოა.
              %p
                %strong
                  ამოიკვლიეთ არქიტექტურა და თანამედროვე ხელოვნება ორლეანში
              %p
                თუ თქვენ დაინტერესებული ხართ თანამედროვე ხელოვნებით, გაემგზავრეთ FRAC-ში (Fonds régional d’art contemporain). თავად შენობა შთამბეჭდავია, ისევე როგორც მუზეუმი, სადაც წარმოდგენილია ათასობით ხელოვნების ნიმუში, არქიტექტურული ნახატი და მოდელი. რენესანსის არქიტექტურის თვალსაჩინო მაგალითია სასტუმრო გროსლოტი, ორლეანის ერთ-ერთი ულამაზესი შენობა. თითქმის ორი საუკუნეა, რაც მერიაა და ახლა შაბათობით საქორწილო ცერემონიებს მასპინძლობს. ამ დღეებში სასტუმრო დაკეტილია საზოგადოებისთვის.
          .ContainerC.padding-60.ContainerC-2
            .subtitleC.secondary.max-860.subtitleC-1
              კიდევ რა არის სანახავი?
            .textC.columnW.textC-1
              .colC
                %p
                  %strong ისტორიული პარკი Puy du Fou
                  არის მეორე ყველაზე პოპულარული თემატური პარკი საფრანგეთში დისნეილენდის შემდეგ. იგი ცნობილია თავისი ფართომასშტაბიანი ისტორიული შოუებით, ტრადიციული სახელოსნოებით, თვალწარმტაცი ბუნების პარკითა და სხვადასხვა ეპოქისადმი მიძღვნილი თემატური სასტუმროებით. პარკს, რომელიც მდებარეობს რენესანსის ციხის ნანგრევებზე, სოფელ ლეს ეპესესში, ჩოლეს მახლობლად, ყოველწლიურად დაახლოებით ორი მილიონი ადამიანი სტუმრობს.
                %p
                  %strong Parc Oriental de Maulévrier
                  არის უდიდესი იაპონური ბაღი ევროპაში და გამოირჩევა არაჩვეულებრივი არქიტექტურითა და ატმოსფეროთი. მაისიდან სექტემბრამდე მასპინძლობს მუსიკალურ და პოეზიურ ღონისძიებებს.
              .colC
                %p
                  %strong «ნანტის კუნძულის მანქანები»
                  არის გიგანტური მექანიკური სკულპტურების საოცარი გამოფენა ნანტის გემთმშენებლობაში. ადგილობრივი ექსპონატები იხსენებენ ჟიულ ვერნის ფანტაზიებს და ლეონარდო და ვინჩის მანქანას. განსაკუთრებით შთამბეჭდავია «ორთქლის სახლი», 12 მეტრიანი სპილო, რომლის ტარება ნებისმიერ მსურველს შეუძლია და «საზღვაო სამყაროს კარუსელი», რომელიც 300-მდე ადამიანს იტევს.
            .subtitleC.secondary.max-860.subtitleC-2
              გასტრონომია და ღვინოები
            .textC.columnW.textC-2
              .colC
                %p
                  რეგიონის სამზარეულო განსხვავდება პროვინციიდან პროვინციაში: ატლანტის ოკეანის სანაპიროზე ზღვის პროდუქტები გავრცელებულია, ანჟერი აუცილებელია ხბოს და ღორის ტრადიციული ხორცის კერძებისთვის, ხოლო ნანტი ამზადებს შესანიშნავ სალათებს. ტკბილი კბილისთვის, Gâteau nantais აუცილებელია. რეგიონში ყველაზე პოპულარული ყველია ვალენტი, ცისფერი თხის ყველი, croten de chavignol ბურთები და რბილი სამკურნალო nantes და caprice de gueuil.
              .colC
                %p
                  ლუარის ველი განთქმულია სოვინიონ ბლანის, შარდონეს, ნესვის დე ბურგონის და ჩენინ ბლანის თეთრი ღვინოებით. რეგიონში ყველაზე ცნობილი ღვინოებია Pouilly-Fume და Sancerre. Angers ასევე აწარმოებს ცნობილ cointreau ლიქიორს.
            .subtitleC.secondary.max-860.subtitleC-3
              საკონტროლო სია
          .ContainerC.padding-30.ContainerC-3
            .blockC.features
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-castle.svg")}/
                %p
                  იგრძენი თავი შუასაუკუნეების ფეოდალმა ან მეფემ, რომელიც სტუმრობს რეგიონის ზოგიერთ ციხეს.
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-bike.svg")}/
                %p
                  იარეთ ველოსიპედით ან მანქანით მდინარე ლუარის გასწვრივ.
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-photo.svg")}/
                %p
                  აწიე გიგანტურ მექანიკურ მხეცზე ნანტში.
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-sunset.svg")}/
                %p
                  გაისეირნეთ ბისკაის ყურის ქვიშიან სანაპიროებზე.
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-send.svg")}/
                %p
                  ირჩიე «მარილის ყვავილი», როგორც ფრანგები ადგილობრივ მარილს ეძახიან, გერანდში და უკან დააბრუნე.
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-flower.svg")}/
                %p
                  დაიკარგე ვილანდრის ბაღებში
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-orange.svg")}/
                %p
                  ჩაიძირეთ ფორთოხლის სურნელებში Quantro-ს დისტილერიაში და ეწვიეთ ცნობილი სასმელის ყალბი ვერსიების მუზეუმს.
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-cook.svg")}/
                %p
                  დააგემოვნე Gâteau nantais
    = render partial: 'shared/footerGe'
    = render partial: 'shared/footer_main_ge'
    
                  