- content_for(:style) do
  :css
    body {
      --accent-background-color: var(--color-brown);
      --accent-text-color: #ffffff;
      --accent-special-color: var(--color-brown);
      --font-georgian: 'Noto Sans Georgian', sans-sarif;
      --font-georgian-serif: 'Noto Serif Georgian', sans-sarif;
      --font-armanian: 'Noto Sans Armenian', sans-sarif;
      --menu-burger-background: #695a53;
    }


%main{style: "background-color: var(--accent-background-color);"}
  .site-container
    .header--new
      %header.header
        .container.header__container
          %button.header__nav-toggle
            %span.header__nav-toggle-line
          %nav.header__nav
            .header__nav-in
              %a.header__nav-link{href: occitania_ar_url} OCCITANIA
              %a.header__nav-link{href: new_aquitaine_ar_url} NEW AQUITAINE
              %a.header__nav-link.header__nav-link--active{href: paris_region_ar_url} PARIS REGION
              %a.header__nav-link{href: loirevalley_ar_url} LOIRE VALLEY
              %a.header__nav-link.header__nav-link--home.header__nav-link--icon{href: root_url}
                MAIN PAGE
                %span.header__nav-link-icon
    .container-secondary.container-paris.paris-ar.lang-ar
      .ContainerC.max-1140.one
        .blockC.main.paris--main.main-ar
          .blockC__texts
            .titleC.main
              %h1
                %span Paris Region
            .subtitleC.main
              %span
                Փարիզ Իլ-դե-Ֆրանս՝
            .subtitleC.premain
              %span
                թագավորական պալատներ, թեմատիկ զբոսայգիներ, ջրային զբոսաշրջություն
          %img.image-main{alt: "", src: asset_pack_url("media/images/ParisRegion/image-main-1.png")}/
      .ContainerC.max-1140.two
        .descC.withoutFon.descC-1
          .textC.columnW
            .colC
              %p
                Իլ-դը-Ֆրանս տարածաշրջանը Ֆրանսիայի մշակութային կենտրոնն է։ Այստեղ է սկիզբ առել ֆրանսիական պետությունը և տեղի են ունեցել իրադարձություններ, որոնք ազդել են համաշխարհային պատմության վրա։
            .colC
              %p
                Հաճախ այս տարածաշրջանը զուգորդվում է միայն Փարիզի հետ, չնայած Փարիզի տարածաշրջանն ինքնին նույնպես ունի շատ գրավիչ վայրեր՝ հոյակապ պալատներ և զբոսայգիներ, գոթական աբբայություններ և միջնադարյան ամրոցներ, ինքնատիպ քաղաքներ և գեղատեսիլ անտառներ:
      .ContainerC.max-1140.three
        .descC.whiteFon.withImg.descC-1
          .ContainerC.padding-60
            %img.image-map{alt: "", src: asset_pack_url("media/images/icons/icon-map.png")}/
            .subtitleC.secondary.max-640.subtitleC-1
              Տարածաշրջանի օդանավակայանները
            .textC.columnW.textC-1
              .ColC
                %p
                  Իլ-դը-Ֆրանսն ունի երեք միջազգային օդանավակայան՝ Բուրժե, Օրլի և Շառլ-դը-Գոլ։ Հենց վերջինս է ընդունում աշխարհի խոշորագույն ավիաընկերությունների չվերթների մեծ մասը, այդ թվում Փարիզ-Երևան-Փարիզ
                  %a{href: "https://wwws.airfrance.am/", target: "_blank"} Air France
                  ավիաընկերության չվերթնեը։
              .ColC
                %p
                  Շառլ-դը-Գոլը (Charles de Gaulle) գտնվում է Փարիզից 25կմ հեռավորության վրա, օդանավակայանից դեպի քաղաք գործում են էլեկտրական գնացքներ՝ համակցված մետրոյի հետ (RER+մետրո), ավտոբուսներ և տաքսիներ։
            .subtitleC.secondary.subtitleC-2
              Ո՞ր քաղաքներում է առավելապես հարմար ապրել:
            .textC.columnW.textC-2
              .ColC
                %p
                  %strong>
                    %a{href: paris_url} Paris
                   — կարող է լինել ոչ միայն ճանապարհորդության վերջնական, այլև մեկնարկային կետը։ Քաղաքն ունի բավականաչափ հյուրանոցներ և բնակարաններ յուրաքանչյուր ճաշակի և բյուջեի համար, իսկ զարգացած տրանսպորտային համակարգը թույլ է տալիս հեշտությամբ այցելել շրջակա ցանկացած քաղաք: Փարիզի տարածաշրջանում կան այցելելու արժանի պալատներ և փոքրիկ քաղաքներ։ Փարիզում խորհուրդ ենք տալիս ուշադրություն դարձնել 4 աստղանի Mayfair Paris հյուրանոցին, որը գտնվում է քաղաքի պատմական սրտում՝ Պլաս-դե-լա-Կոնկորդ և Վանդոմ հրապարակների և Մադլենի միջև:
                %p
                  %strong> Versailles
                   — այն անունն է, որը մարդկանց մեծամասնությունը կապում է «Արև-Արքա» Լյուդովիկոս XIV-ի պատվերով կառուցված հոյակապ պալատի հետ: Պալատում կարող եք այցելել օպերա և դիտել ներկայացումներ, որոնք հետաքրքիր կլինեն ընտանիքի բոլոր անդամներին: Իսկ մոտակայքում գտնվում են Վերսալի ախոռները, որտեղ անցկացվում են ձիավարության ներկայացումներ։
              .ColC
                %p
                  Այնուամենայնիվ, Վերսալը ոչ միայն պալատ և զբոսայգի է, այլև փոքրիկ խաղաղ քաղաքի անուն, որտեղ կարելի է մի քանի օր մնալ և այցելել, օրինակ, հնավաճառների փողոցը: Ճաշելու համար գնացեք քաղաքի հաճելի ռեստորաններից մեկը:
                %p
                  Fontainebleau — Ֆոնտենբլոն փոքր քաղաք է, որտեղ գտնվում են համանուն պալատը և անտառը։ 11-19րդ դարերում Ֆոնտենբլոյի պալատը ծառայել է որպես ֆրանսիայի միապետների բնակավայր, իսկ այն շրջապատող հսկայական անտառը՝ թագավորական որսատեղի։ Այժմ Ֆոնտենբլոյի անտառն այնքան էլ պահանջված չէ զբոսաշրջիկների կողմից, և իզուր՝ զբոսանքի սիրահարները հիանալի ժամանակ կանցկացնեն քարքարոտ բնատեսարանների մեջ։ Անտառի եզրին Բարբիզոն գյուղն է, որը հայտնի են դարձրել 19-րդ դարի բնանկարիչները՝ իմպրեսիոնիստների նախնիները։ Քաղաքից ոչ հեռու գտնվում է Վո-լե-Վիկոնտ պալատը և Գատինե Ֆրանսե արգելոցը։
      .ContainerC.four
        .imageC.big
          %img.image-desk{alt: "", src: asset_pack_url("media/images/ParisRegion/image-big-1.jpg")}/
          %img.image-mobile{alt: "", src: asset_pack_url("media/images/ParisRegion/image-big-1-mobile.jpg")}/
      .ContainerC.max-1140.five
        .descC.whiteFon.descC-1
          .ContainerC.padding-60
            .subtitleC.secondary.max-975.subtitleC-1
              Երթուղիների տարբերակներ
            .textC.rowW.textC-1
              %p
                %strong Երկար երթուղի`
                Paris → Saint-Germain-en-Laye → Versailles → Melun → Fontainebleau → Sancy-le-Provin → Disneyland → Noisy-le-Grand → Paris.
              %p
                %strong Կարճ երթուղի՝
                Paris → Saint-Germain-en-Laye → Versailles → Melun → Fontainebleau → Disneyland → Paris.
              %p
                Իլ-դը-Ֆրանսը փոքր տարածաշրջան է, ուստի ավելի շատ հետաքրքիր տեսարժան վայրեր ձեզ կսպասեն դրա սահմաններից ոչ հեռու: Անպայման ուսումնասիրեք ուրիշ տարածաշրջանների մեր ուղեցույցները՝ Լուարայի հովիտի, Ակտիվանիայի և Օկսիտանիայի, որոնք կօգնեն ձեզ պլանավորել ամենահագեցած և հիշարժան ճամփորդությունը։
        .descC.whiteFon.descC-2
          .ContainerC.padding-60
            .subtitleC.secondary.max-650.subtitleC-1
              Զբաղմունքներ
            .textC.rowW.textC-1
              %p
                %strong Սենա կամ Մարն գետով շրջագայություն
              %p
                Սենայի երկայնքով շրջայցի նավակներով զբոսնելը շատ սիրված զբոսաշրջային զբաղմունք է Փարիզում: Էլ ավելի հետաքրքիր կլինի նաև շրջայցի գնալ Մառն գետով իր հանգիստ ափերով և գետափնյա սրճարաններով, որոնք ժամանակին ոգեշնչել են Մոնեին, Պիսարոյին, Կայբոտին և այլ իմպրեսիոնիստներին:
              %p
                Մեկնարկային կետը կարող է լինել Բաստիլի Օպերայի մոտ նավամատույցը, որտեղից երթուղին տանում է արևելյան Փարիզով, Սեն-Մարտենի ջրանցքի փակոցներով և շարունակում է քաղաքից դուրս:
              %p
                %strong Ծանոթություն Պրովենի միջնադարյան ժառանգությանը
              %p
                Քաղաքում, որն ի սկզբանե հիմնադրվել էր տոնավաճառներ անցկացնելու համար, և որտեղ Հյուսիսային Եվրոպայից և Միջերկրածովյան երկրներից վաճառականները ապրանքներ էին փոխանակում, պահպանվել են միջնադարյան եվրոպական ճարտարապետության գրեթե լավագույն նմուշները։ Անպայման այցելեք դեռևս 9-րդ դարում կառուցված Կեսարի աշտարակը՝ իր սարսափացնող սողացող զնդանով: Տաք եղանակին այստեղ անցկացվում են փառատոն-վերակառուցումներ ասպետական մրցաշարերով, շքերթներով և տոնավաճառներով։
      .ContainerC.six
        .imageC.big
          %img.image-desk{alt: "", src: asset_pack_url("media/images/ParisRegion/image-big-2.jpg")}/
          %img.image-mobile{alt: "", src: asset_pack_url("media/images/ParisRegion/image-big-2-mobile.jpg")}/
      .ContainerC.max-1140.seven
        .descC.whiteFon.descC-1
          .ContainerC.padding-60.ContainerC-1
            .subtitleC.secondary.max-650.subtitleC-1
              აქტივობები
            .textC.rowW.textC-1
              %p
                %strong Գնումներ ներաձևության մայրաքաղաքում
              %p
                Սովորական է հնչում, բայց փաստ է՝ Փարիզը գնումների մայրաքաղաքն է, և այստեղի շատ խանութներ հարուստ պատմություն ունեն: Արտասովորի և բացառիկի սիրահարների համար լավ է գնումներ կատարել Մարեում: Օրինակ, Rouje-ում արժե գնալ սեքսուալության երանգով կանացի իրեր գնելու՝ տեղի բնակիչներին նմանվելու համար:
              %p
                Այնուամենայնիվ, ոչ ոք չի չեղարկել շքեղ Մոնտեն և Սեն-Օնորե պողոտաները, ինչպես նաև խոշոր հանրախանութները: Լուվրի մոտակայքում այցելեք վերջերս վերանորոգված
                = succeed "\u0570\u0561\u0576\u0580\u0561\u056D\u0561\u0576\u0578\u0582\u0569\u0568," do
                  %strong Սամարիտեն (Samaritaine)
              %p
                Ֆրանսիական հնավաճառների շուկաները վաղուց լեգենդ են դարձել և դրանք այցելելը լիարժեք մշակութային փորձ է: Փարիզում արժե տեսնել առնվազն երկու marché aux puces և ոչ միայն տեսնել, այլ այնտեղից ձեռք բերել հնաոճ իրեր, հին գրքեր, երաժշտական գործիքներ կամ ձայնագրություններ: Ամենամեծ շուկան Սենտ-Ուանն է (Պորտ-դը-Կլինյանկուր), ավելի մտերմիկը գտնվում է Պորտ-դե-Վանվ մետրոյի կայարանի մոտակայք:
              %p
                %strong Զվարճանք ամբողջ ընտանիքով
              %p
                իսնեյլենդը պարփակված է երեք կիլոմետր տրամագծով գրեթե կատարյալ շրջանակի մեջ և բաժանված է երկու թեմատիկ զբոսայգիների՝ Դիսնեյլենդ Պարկի և Ուոլթ Դիսնեյ Ստուդիայի Պարկի: Առաջինը «Փարիզյան Դիսնեյլենդ»-ն է՝ կենտրոնում Քնած Գեղեցկուհու ամրոցով և շուրջը գտնվող թեմատիկ տարածքներով։ Այս զբոսայգին ավելի հետաքրքիր է երեխաների համար։ Երկրորդը՝ Walt Disney Studios Park-ը, ոճավորված որպես նկարահանումների տարածք, կհավանեն մեծահասակները: Այնտեղ լիովին իրական է զգալ քեզ բլոկբաստերի հերոս: Դիսնեյլենդի մոտակայքում է գտնվում Լա Վալե Վիլաժը (La Vallée Village), որը հիանալի վայր է գնումներ կատարելու համար։
              %p
                Նաև չմոռանանք, որ Փարիզի մերձակայքում կա Աստերիքս զբոսայգին մեր սիրելի ֆրանսիական գալիական կերպարների թեմայով (այն գտնվում է հարևան Օ-դը-Ֆրանս տարածաշրջանում): Այն ունի շատ էքստրեմալ և ջրային ատրակցիոններ, ուստի աշխատում է միայն տաք ամիսներին։ Այն հարմար է մեծահասակների և մեծ երեխաների համար։
      .ContainerC.eight
        .imageC.big
          %img.image-desk{alt: "", src: asset_pack_url("media/images/ParisRegion/image-big-3.jpg")}/
          %img.image-mobile{alt: "", src: asset_pack_url("media/images/ParisRegion/image-big-3-mobile.jpg")}/
      .ContainerC.max-1140.nine
        .descC.whiteFon.descC-1
          .ContainerC.padding-60
            .subtitleC.secondary.max-700.subtitleC-1
              Է՞լ ինչ տեսնել:
            .textC.columnW.textC-1
              .ColC
                %p
                  %strong> Vaux-le-Vicomte
                   — մարկիզ Նիկոլա Ֆուկեի 17-րդ դարի կալվածքն է, որի շքեղ բացումից անմիջապես հետո նա ձերբակալվել էր պետական միջոցների յուրացման համար: Հենց Վո-լե-Վիկոնտը ոգեշնչեց Վերսալի և ֆրանսիական ազնվականության այլ հայտնի պալատների ճարտարապետներին: Այնուամենայինիվ, այս վայրն առանձնապես պահանջված չէ զբոսաշրջիկների կողմից։
                %p
                  %strong> Saint-Germain-en-Laye
                   — Սեն-Ժերմեն-ան-Լեն արքայական նստավայրով գեղեցիկ քաղաք է, Փարիզից 20 կիլոմետր հեռավորության վրա: Այստեղ գալիս են շրջելու Սեն-Ժերմեն պալատով և այգիով, այցելելու թատրոն և գնումներ կատարելու հարյուրավոր խանութներում և բուտիկներում։ Քաղաքի կենտրոնում ժամանակակից ճարտարապետությունը կողք կողի է գտվում պատմական տների և գեղատեսիլ այգիների հետ:
              .ColC
                %p
                  %strong «Abraxas Spaces»
                  \-ը ֆուտուրիստական բնակելի համալիր է Նուասի-լը-Գրան կոմունայում, որը կառուցվել է 1980-ականներին ճարտարապետ Ռիկարդո Բոֆիլի նախագծով: Իր «բնակեցված հուշարձանը» ստեղծելիս պոստմոդեռնիստ Բոֆիլը ոգեշնչվել է կլասիցիզմի գաղափարներով: Երեք լայնածավալ շենքեր գրեթե 600 բնակարաններով հիշեցնում են հնաոճ թատրոն՝ «հակասյուներով» և կտրված անկյուններով: Իր անսովոր տեսքի համար համալիրը հաճախ օգտագործվել է որպես նկարահանումների վայր, այն կարող եք տեսնել, օրինակ, «Քաղցած խաղերում»։
            .subtitleC.secondary.max-700.subtitleC-2
              Սնունդ Իլ-դե-Ֆրանսում
            .textC.columnW.textC-2
              .ColC
                %p
                  Իլ-դե-Ֆրանսը ֆրանսիական թագավորների սիրելի վայրն էր, և տեղական խոհանոցը շատ ակտիվ զարգանոմ էր՝ բավարարելու թագադրված գուրմանների պահանջները: Զարմանալի չէ, որ հենց այս տարածաշրջանում շատ են ֆրանսիական Միշլեն ռեստորանները: Ինչ վերաբերում է սննդին, տեղական «հայտնին» բրի պանիրն է, մասնավորապես bries de Meaux և bries de Melun տեսակները, և արժե համտեսել նաև փարիզյան երշիկը և խոզապուխտը, հավի և գառան մսով ուտեստները, ինչպես նաև աղանդերը, որոնցից են բրիոշը և կրուասանը:
              .ColC
                %p
                  Հետաքրքիր է, որ ֆրանսիական խոհանոցի զարգացման վրա մեծապես ազդել է Լյուդովիկոս XIV-րդ թագավորը, ով հրամայել էր Վերսալում այգի հիմնել, որտեղ ամբողջ տարվա ընթացքում աճեցնում էին ավելի քան 300 տեսակի բանջարեղեն, մրգեր և խոտաբույսեր, այդ թվում՝ բանան, թուզ, սուրճ: Այգին պահպանվել է մինչ օրս, և խանութում կարելի է գնել հուշանվերներ և տեղական արտադրանք։
      .ContainerC.max-1140.ten
        .descC.whiteFon.descC-1
          .ContainerC.padding-60.ContainerC-1
            .subtitleC.secondary.max-700.subtitleC-1
              Ստուգման ցուցակ
          .ContainerC.padding-30.ContainerC-2
            .blockC.features
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-croissant.svg")}/
                %p
                  Զգալ ինչպես տեղացի․ շուտ արթնանալ, գնել թարմ կրուասաններ և գնալ շուկա թարմ արտադրանքի համար:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-bike.svg")}/
                %p
                  Հետազոտել տարածաշրջանի քաղաքներից մեկը հեծանվով։
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-baby.svg")}/
                %p
                  Դիսնեյլենդում սեղմել Միքի Մաուսի կամ Աստղային պատերազմների «Հարձակվողի» ձեռքը:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-hanger.svg")}/
                %p
                  Գնել մի փոքրիկ հաճելի իր հնավաճառների շուկայում:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-radish.svg")}/
                %p
                  Գտնել բանջարեղենի մարգեր Վերսալում:
              .blocC__item
                %img{alt: "", src: asset_pack_url("media/images/icons/icon-wine.svg")}/
                %p
                  Շամպայն վայելել Մառն գետով նավարկության ընթացքում:
    = render partial: 'shared/footerAr'
    = render partial: 'shared/footer_main_ar'
    
                 